/* Step 2: Import the Reset */
@import url(./reset.css);
/* End of Reset */


/* Step 3: Import the Fonts */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Quicksand:wght@300&display=swap');
/* End of Fonts */

/* Step 4: Setup the Defaults */
body {
    font-family: 'Quicksand', sans-serif;
}
/* End of Defaults */


/* Step 5: Design the Header */
.main-header-titles {
    height: 100%;
    display: flex;
    padding: 1em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:indianred;
}

.main-header-titles h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 48pt;
}

/* End of Header */


/* Step 6: Define the Nav */

/* End of Nav */


/* Step 7: Define the Section Defaults */
.main-section h2 {
    font-family: 'Amatic SC', cursive;
    font-size: 28pt;
}

.main-section > h2 {
    height: 100%;
    width: 80%;
    padding: 1em;
    color: firebrick;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.main-section > p {
    height: 100%;
    width: 80%;
    font-size: 1.1em;
    color:black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* End of Section Defaults */


/* Step 8: Design Section 1 */

#section1 {
    border: 1px solid #d3d3d3;
    border-radius: 20px;
    padding: 0.5em;
    justify-content: center;
    overflow: hidden;
}

/* End of Section 1 */


/* Step 9: Design Section 2 */
#section2 {
    border: 1px solid #d3d3d3;
    border-radius: 20px;
    padding: 0.5em;
    justify-content: center;
    overflow: hidden;
}

/* End of Section 2 */

/* Step 10: Design Section 3 */
#section3 {
    border: 1px solid #d3d3d3;
    border-radius: 20px;
    padding: 0.5em;
    justify-content: center;
    overflow: hidden;
}

/* End of Section 3 */


/* Step 11: Design Section 4 */

/* End of Section 4 */