/* Step 2: Import the Reset */
@import url(./reset.css);
/* End of Reset */


/* Step 3: Import the Fonts */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Quicksand:wght@300&display=swap');
/* End of Fonts */


/* Step 4: Setup the Defaults */
body {
    font-family: 'Quicksand', sans-serif;
}
/* End of Defaults */


/* Step 5: Design the Header */
h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 48pt;
}
/* End of Header */


/* Step 6: Define the Nav */

/* End of Nav */


/* Step 7: Define the Section Defaults */

/* End of Section Defaults */


/* Step 8: Design Section 1 */

/* End of Section 1 */


/* Step 9: Design Section 2 */

/* End of Section 2 */


/* Step 10: Design Section 3 */

/* End of Section 3 */


/* Step 11: Design Section 4 */

/* End of Section 4 */